# Customer Segmentation - Clustering

Business Objective

A company has asked its data science team to segment its customer base in order to help targeted marketing and understand their buying habits.

Data Understanding
The dataset resembles a real dataset and has many of the same challenges.

Objectives:

- The first step for this project is to import the dataset and create three data
frames
- Customer
- Products
- Orders
- Insert the three data frames in a SQLite database
- Import the tables from the database and merge them into a single data frame
- Segment the customers using KMeans and highlight the characteristics of the segments
- Selection of number of customers segments should be justified
- Create RFM table ( Recency, Frequency and Money)

RFM analysis is a marketing technique used to quantitatively rank and
group customers based on the recency, frequency and monetary total of
their recent transactions to identify the best customers and perform
targeted marketing campaigns. The system assigns each customer numerical
scores based on these factors to provide an objective analysis. RFM
analysis is based on the marketing adage that "80% of your business
comes from 20% of your customers."

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('PBL5recommendationdata.csv', encoding='latin1')
df.head()

/var/folders/qp/9j67xhhx3z1_9y5zm_dghclw0000gn/T/ipykernel_49966/3364072904.py:1: DtypeWarning: Columns (20,33,73,106,158) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('PBL5recommendationdata.csv', encoding='latin1')

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,...,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
0,797,Christy,Dill,Company0,1426018724,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF61071,0.0,NaN
1,3,John,Smith,Company1,1386089139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF02132,NaN,NaN
2,3,John,Smith,Company1,1386089139,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2 x Extra large,Nitrile,NaN,NaN,NaN,PF00342,0.0,NaN
3,4,James,Anderson,NaN,1386780263,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04970,NaN,NaN
4,5,Abraham,Pollak,Company3,1386861599,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF03045,NaN,NaN

## Split into different DataFrames

We will split the data into 3 different DataFrames:

- Customers
- Products
- Orders

In [22]:
customers = df[[col for col in df.columns if 'Customer' in col]]
products = df[[col for col in df.columns if 'Products' in col]]

,Products.id,Products.status,Products.product_type,Products.template,Products.vendor,Products.import_id,Products.name,Products.display_name,Products.menu_name,Products.list_price,...,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
0,2310.0,0.0,NaN,sub-product-detail.html,1.0,3.0,"Basic Steel Rollators,Green","Basic Lightweight Rollators For Adults, With S...",NaN,80.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF61071,0.0,NaN
1,177.0,1.0,NaN,sub-product-detail.html,1.0,3.0,Urinary Drain Bags,Urinary Drain Bags,NaN,14.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF02132,NaN,NaN
2,1.0,0.0,NaN,sub-product-detail.html,1.0,3.0,"SensiCare Nitrile Exam Gloves,Blue,XX-Large","SensiCare Nitrile Exam Gloves, Blue, XX-Large",NaN,96.29,...,NaN,NaN,2 x Extra large,Nitrile,NaN,NaN,NaN,PF00342,0.0,NaN
3,983.0,0.0,NaN,sub-product-detail.html,1.0,3.0,Basket for 2-Button Walkers,Basket for 2-Button Walkers,NaN,27.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF04970,NaN,NaN
4,991.0,1.0,NaN,sub-product-detail.html,1.0,3.0,TENS 3000 Analog Unit,TENS 3000 Analog Unit,NaN,50.47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF03045,NaN,NaN

In [27]:
df[df['Customers.id'] == df['Products.id']]

,Customers.id,Customers.fname,Customers.lname,Customers.company,Customers.create_date,Customers.status,Customers.mailing,Customers.reminders,Customers.tax_exempt,Customers.account_id,...,Products.google_shopping_label,Products.product_option,Products.size,Products.material,Products.arm_style,Products.leg_style,Products.seat_size,Products.family_id,Products.saved_status,Products.freight_cost
34,65,Allette,Hannon,NaN,1395336674,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Large,NaN,NaN,NaN,NaN,PF01401,0.0,NaN
113,105,Ryan,Oler,NaN,1396586169,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PF37546,0.0,NaN